{% extends 'bootstrap/base.html' %}


{% block content %}

<h1 class="heading">HOME PAGE</h1>

<h3 class="home">Using this simple website, you can create, list, update and delete your ToDo list.</h3>

<h3 class="heading">Please don't judge its poor look as I am not a frontend developer.
     Rather I'm a Backend developer that accounts for functionality of the website.
    Thanks ;) </h3>

<h3 class="home">This website is designed using Django Class Based Views. <br>
    It make use of Django MTV stucture and SQLite3 database to make it a functional website.
</h3>


<h3 class="heading">Start Making your list by clicking New Entry at navbar and never forget anything!</h3>

{% endblock %}